.containerHeader {
  background-color: #010203;
  display: flex;
  gap: 1%;
  padding-bottom: 1%;
  padding-right: 8%;
  padding-top: 1%;
  padding-left: 2%;
  align-items: center;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 90px;
}